h2 {
	color: blue;
	font: small-caps bolder 3em "Comic Sans MS", cursive, sans-serif;
	text-decoration: underline;
	height: 1em;
	margin-bottom: 0px;
	margin-top: 0;
	text-align: center;
}

p {
	font-family: "Arial Black", Gadget, sans-serif;
	color: black;
}

head {
	height: 0px;
	margin: none;
	border: 0px;
}

body {
	margin: 0% 15%;
	font: helvetica, sans-serif;
}

html {
	background: black url('img/bkg.png') no-repeat fixed top center ;
	background-size: 70%;
}

h1 {
	text-align: center;
	font: bold small-caps 7em "Comic Sans MS", cursive, sans-serif ;
	background-color: grey;
	border-radius: 20px;
	border-style: solid;
	border-color: lightblue;
	color: lightblue ;
	margin: 0px;
	margin-bottom: 45px;
	opacity: 0.8;
}



.basic, .wolverine, .tkd, .babe, .tv{
	background-color:lightgrey;
	border-radius: 20px;
	margin: 1em 0em;
	padding: 15px;
	width: 45%;
	opacity: 0.80;

}

.basic, .tkd, .tv {
	float: left;
}

.wolverine, .babe {
	float: right;
}

#tkd_1, #tkd_2 {
	height: 48%;
	width: 48%;
}

#tkd_2 {
	float:right;
}

#UM_1, #UM_2 {
	height: 48%;
	width: 48%;
}
#UM_2 {
	float:right;
}

#babe_1 {
	float:left;
	height: 48%;
	width: 48%;
}

#babe_2 {
	height: 100%;
	width: 100%;

}

#tv_1 {
	height: 100%;
	width: 100%;
}


#tv_2 {
	height: 50%;
	width: 50%;
	float: right;
}

.edulist {
	margin: -15px 20px;
}

#head {
	width: 100%;
	height: 300px;
	margin: 20px 0px;
	border-radius: 0px;
	opacity: 0.9;	
}

div[class="footer"] p {
	color: lightgrey;
	float:left;

}

.footer, .push {clear: both;}