<body background="../../assets/background1.jpg">
<div class='container_about'>
	<div class='section1'>
		<h1 class='sec_title'>What is Khaos?</h1>
		<p>With Khaos, you will be able to...</p>
		<ul>
			<li>plan an adventure without an itinerary!</li>
			<li>look up what's around you spontaneously!</li>
			<li>stumble upon unknown places!</li>
		</ul>
	</div>

	<div class='section2'>
		<h1 class='sec_title'>Where does Khaos come from?</h1>
		<p>
			It all started with three undergraduate students, the developers of this app, being bored and trying to figure out things to do at Cape Town! We are all traveler lovers and believe that spontaneous traveling style offers emosome of the best travelling experiences come from spontaneous decisions of stumbling upon random and interesting places. With these in mind, we took the opportunity of creating our project at iExperience, a coding program at Cape Town, South Africa, to create such opportunity for enthusiast travellers worldwide!
		</p>
	</div>

	<div class='section3'>
		<h1 class='sec_title'>Meet the developers!</h1>

		<div class="row">
		  <div class="col-md-4 column">
			<h2>Allen</h2>
			<img src="./assets/Allen.jpg" class="img-responsive img-circle" alt="Responsive image">
			<p>A Computer Science major at University of Michigan. Loves coding and favorite sport is taekwondo! Top on his best place to visit is Hong Kong!</p>
		  </div>
		  <div class="col-md-4 column">
		  	<h2>Bingyan</h2>
		  	<img src="./assets/Bingyan.jpg" class="img-responsive img-circle" alt="Responsive image">
		  	<p>A Economic and Mathematic double major in Barnard College. Loves travelling and tasting food around the world. She is always on the road waiting for another adventure! TO BE CONTINUED...</p>
		  </div>
		  <div class="col-md-4 column">
			<h2>Gaby</h2>
			<img src="./assets/Gaby.jpg" class="img-responsive img-circle" alt="Responsive image">
			<p>A Business and Psychology major at University of Michigan. Bleed Maize and Blue. Loves writing and attending arts events. Road trip is the best.</p>
		  </div>
		</div>
	</div>
</div>
</body>