<p>
	DISCLAIMER!
	This app should only be used for consideration only, we do not bear any responsiblity for any rage or frustration incured either direcly, or indirectly from the use of this product


	- Please press appropriately catagorize our suggested place with the buttons! - We'll try our best to read your mind! :) (though this is not an exact science)
	- Also please try to tell us which place seems good more often! (we can't do anything if you hate everywhere....)

</p>