// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Arvo|Francois+One);



body {
	background-color: #EFEFEF;

	/*background-image: url("background1.jpg");*/
}

.underline {
	text-decoration: underline;
}

span[class="underline"] {
	border-bottom: 5px solid yellow;
}




span[class="bold"] {
	font-size: 1.8em;
	font-weight: bold;
}


.text {
	p{
		font-size: 0.8em;
		font-weight: bold;
	}
}

.container-main{
	width:900px;
	height:100%;
	margin: auto;
	margin-right: auto;
	margin-bottom: none;
	text-align: center;
	text-transform: uppercase;


	.underline {}

	.loc {
		p {
			padding-top: 0.5em;
			font-size: 0.8em;
			text-align: left;
			color: #AAA;
			text-transform: none;
		}

	}
	p {
		font-family: "Francois One", sans-serif;
		color: white;
	}
}

.loc{
	p{
		font-size: 16px;
		font-weight: bold;
	}
}

hr{
	border: 0;
	border-bottom: 1px dashed #ccc;
	background: #999;
}

.container-filter{
	width:980px;
	height:32px;
}

.container-btn{
	width:100%;
	height:32px;
	margin-top: 0px;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

#map-canvas {
	height: 68%;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.btn-group{
	margin-top: 3%;
}

.sidebar{
	position: none;
	margin-top: 1.2em;
	margin-right: 0.3em;
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: center;

}


ul[class=".col-xs-3 .col-md-2 sidebar"] {
	width: 20%;
	margin: auto;
}

.filter{
	margin-bottom: 0px;
	margin-right:0px;
}

.btn, .btn-default{
	background: #ECECEC;
	border-radius: 15px;
	padding: 10px 10px;
	display: block;
	font-family: arial;
	font-weight: bold;
	color:#7f7f7f;
	text-decoration: none;
	text-shadow:0px 1px 0px #fff;
	border:1px solid #a7a7a7;
	width: 145px;
	margin:0px auto;
	margin-top:5px;
	margin-bottom: 5px;
	box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
	-webkit-transition:box-shadow 0.5s;
}

.btn-group{
	a:link { 
  		color: #222;
	}
}

button[class="btn btn-default"] {
	height: 3em;
	padding: 0px;
	font-family: "Francois One", sans-serif;
	text-transform: uppercase;
	font-size: 1.5em;
	a {
		text-decoration: none;
		font-color:black;
	}
	a:link { 
  		color: #000;
	}	
	a:visited { 
	  color: #000;
	}
	a:hover { 
	  background-color: #EFEFEF;
	}
	a:active { 
	  color: #000;
	}
}
button[class="btn btn-default"]:hover{
	background-color: #EFEFEF;
}

.restart {
	font-size: 0.1em;
}





ul[class="col-xs-3 col-md-2 sidebar"] {
	font-family: "Francois One", sans-serif;
	font-size: 1.2em;
}


div.filter, div.restart {
	width: 100%;
	margin: none;
	.filter_drop {}
	.filter_drop {
		padding: none;
		font-family: "Francois One", sans-serif;
		font-size: 1.2em;
		width: 100%;
		height: 100%;
		margin-top: 0px;
		margin-bottom: 5px;
	}
}

.restart_li {
	height: 84px;
}
.restart {
	height: 100%;
	padding-bottom: 10px;
}


.restart_btn {
	width: 100%;
	height: 80%;
	font-family: "Francois One", sans-serif;
	margin-bottom: 5px;
	padding: none;
	a {}
	a:link { 
  		color: #000;
	}	
	a:visited { 
	  color: #000;
	}
	a:hover { 
	  background-color: red;
	}
	a:active { 
	  color: #000;
	}
}

button[class="restart_btn"]:hover {
	background-color: red;
}


