// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Lobster);



.body {
	position:fixed;
/*	background-color: #9CF;	*/
	color: #FFF000;
	background-image: url(/images/background1.jpg);

}

.container-main{
	width:900px;
	height:600px;
	margin: auto;


}

hr{
	border: 0;
	border-bottom: 1px dashed #ccc;
	background: #999;
}

.container-filter{
	width:980px;
	height:32px;
}

.container-btn{
	margin-top: 1%;
	margin-bottom: 1%;
	width:980px;
	height:32px;
}

#map-canvas {
	height: 68%;
	width: 95%;
	margin-top: 0px;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.btn-primary {
color: white;
background-color: #428bca;
border-color: #357ebd;
}


ul[class=".col-xs-3 .col-md-2 sidebar"] {
	width: 20%;
}

