// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Lobster);


body{
	text-align: center
}

video#videohome, video#video-capabilities {
position: fixed;
z-index: -9999;
margin-top: -10%;
height: 100%;
width:100% ;
}

.hidden-sm {
display: block!important;
}

.video {
	object-fit: contain;
}

.title, .prompt{	
	color: #FFF000;	
	font-family:'Lobster', cursive;
}

.title{
	font-size: 72px;
	margin-top: 5%;
}

.prompt{
	font-size: 32px;
	margin-top: 2%;
}


input[type=text] {padding:5px; border:2px solid #ccc; 
-webkit-border-radius: 5px;
border-radius: 5px;
}

input[type=text]:focus {
	border-color:#333; 
}

input[type=submit] {
	padding:5px 15px; 
	background:#FFF000; 
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
}


