<h1>This is the main page!</h1>


<div class="head">
	<p>This is the Header</p>
	<%= link_to "How to" %>
	<%= link_to "About Us" %>
</div>
<div class="loc">
	<p>
	Your current location is 
	<%= @user.curloc %>
	<%= link_to "Wrong Location?", root_path %>
	</p>


</div>
<div class="map">
	<p>Map is here</p>
	<br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br>

</div>

<div class="footer">
<p>This is the footer</p>
</div>