
<!-- 
<head>
<script type="text/javascript" language="javascript" src="http://api.afrigis.co.za/loadjsapi/?key=5622474105567710288882020469246683119388024151&version=2.6"> </script>

	<script type="text/javascript" language="JavaScript">
		var agmap = null;
		function initAGMap() {
			agmap = new AGMap(document.getElementById("MapPanel"));
			agmap.centerAndScale(new AGCoord(-25.7482681540537, 28.225935184269), 5);
		}
	</script>
</head>



<body onload="initAGMap()">

<div id="MapPanel" styple="width:400px;height:300px;border:1px solid black"></div>




</body> -->






<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=#{API_KEY}">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id="map-canvas"/>
  </body>
</html>





