

<head>
<script type="text/javascript" language="javascript" src="http://api.afrigis.co.za/loadjsapi/?key=5622474105567710288882020469246683119388024151&version=2.6"> </script>

	<script type="text/javascript" language="JavaScript">
		var agmap = null;
		function initAGMap() {
			agmap = new AGMap(document.getElementById("MapPanel"));
			agmap.centerAndScale(new AGCoord(-25.7482681540537, 28.225935184269), 5);
		}
	</script>
</head>



<body onload="initAGMap()">

<div id="MapPanel" styple="width:400px;height:300px;border:1px solid black"></div>




</body>